---
---

<footer class="site-footer">
    <div>© 2026 limonesska | Цифровой сад</div>
    <div>Сделано с любовью и кодом</div>
</footer>

<style is:global>
    /* ПОДВАЛ */
    .site-footer { font-family: var(--font-ui); width: 100%; border-top: 1px solid var(--color-border); padding-top: 30px; display: flex; justify-content: space-between; font-size: var(--size-small); color: var(--color-text-faint); }

    @media (max-width: 768px) {
        .site-footer { flex-direction: column; gap: 10px; text-align: center; }
    }
</style>
